@media (max-width: 767px) {
  body {
    background-attachment: scroll;
    background-position: 50% top;
  }

  #main-outlet {
    margin: 12px 8px 30px;
    padding: 18px 12px 30px;

    border-radius: 6px;
  }

  .btn,
  .d-button {
    min-height: 42px;
  }

  .topic-list-item {
    border-radius: 4px;
  }
}